
@import url('variables.css');
@import url('button.css');
/*@import url('card.css');*/


.mainmenu {
  background: var(--dark-blue);
  color: var(--orange-highlight);
  padding: 5px 10px;
  height : 5vh ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  position: sticky ;
  z-index: 1052 ;
}

.menu-left,
.menu-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.brand {
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 20px;
}

.link {
  color: var(--orange-highlight);
  text-decoration: none;
}

.link:hover {
  background-color: var(--light-teal-hover);
}


body {
  background-color: white ;
  color: var(--dark-text);
  font-family: 'Roboto', sans-serif;
  }





.offcanvas-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px var(--dark-blue);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 50vh;
  overflow-y: auto;
}

.offcanvas-right {
  position: fixed;
  border-left: solid 1px var(--dark-blue);
  right: 0;
  left: auto;
  top: 5vh ;
  width: 30vw; /* or any desired width */
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1051;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-y: auto;
}

.offcanvas-bottom.show {
  transform: translateY(0);
}

.offcanvas-right.show {
  transform: translateX(0);
}

.offcanvas-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.offcanvas-title {
  font-size: 1.25rem;
  /*font-weight: bold;*/
}

.offcanvas-body {
  padding: 1rem;
  flex-grow: 1;
}
