:root {
  --dark-green: #0c4b33;
  --teal: #007f7f;
  --light-teal: #b3cece;
  --med-teal: #b0d3d3;
  --light-gray: rgba(219, 249, 255, 0.5);
  --med-gray: #e8e8e8;
  --light-teal-hover: #d9f0f0;
  --lightest-bg: #fafafa;
  --dark-text: #134b4b;
  --error-red: #e03c31;
  --form-bg: #f5f5f5;
  --border-gray: #cccccc;
  --orange-highlight: #f5de65;
  --dark-blue: #4a7c95;
  --light-blue: #7fb1ca;
}
